body{
  background-image: url("../images/campo.jpg");
  background-position: center;
}


h1{
  text-align: center;
  font-family: 'Arvo', serif;
}

button{
  height: 100px;
  width: 93%;
  margin: 15px 15px;
  border: solid;
  border-radius: 16px;
  border-color: midnightblue;
  background-color: rgba(240, 248, 255, 0.226);
  font-family: 'Arvo', serif;
  font-size: 20px;
  position: relative;
}

button:hover{
  background-color: rgba(139, 153, 167, 0.774);

}
