<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="home.component.css">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <h1>¿Que quieres ver?</h1>
</header>
<body>
  <div class="navbar_button">
    <button routerLink="/players">Mostrar jugadores</button>

  </div>

  <div class="navbar_button">
    <button routerLink="/teams">Mostrar equipos</button>
  </div>

  <div class="Leagues_button">
    <button routerLink= "/leagues" >Mostrar ligas</button>
  </div>

</body>
</html>
