<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="home.component.css">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <p-menubar nz-menu-item="items">
    <div>
        <input type="text" pInputText placeholder="Search">
    </div>
  </p-menubar>
</header>
<body>

  <h1>Let's play football!</h1>
  <h5>Here you can find all players, teams or leagues.</h5>
</body>
</html>
