<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="home.component.css">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
  <h1>Elige una liga</h1>
</header>
<body>

  <div class="navbar_button">
    <button (click)="showPlayers()">Mostrar jugadores</button>
  </div>

  <div class="navbar_button">
    <button (click)="showTeams()">Mostrar equipos</button>
  </div>

  <div class="navbar_button">
    <button (click)="showLeagues()">Mostrar ligas</button>
  </div>

</body>
</html>
